.admin-feed{
	background: #163e2e;
	color: white;
	margin: 5px 10%;
	border-radius: 5px;
	width: 80%;
	-webkit-box-shadow: 2px 6px 1px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 2px 6px 1px 0px rgba(0,0,0,0.50);
	box-shadow: 2px 6px 1px 0px rgba(0,0,0,0.50);
}