#Turn Rewrite Engine On
RewriteEngine on

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work


<IfModule mod_rewrite.c>  

#FOR blogs.php?title=un_gran_poder
RewriteRule ^blog/([^/]+) templates/editor/index.html?id=$1 [NC,L]

#FOR search.php?type=tag&term=1
RewriteRule ^buscar/([^/]+)/([^/]+) search.php?type=$1&term=$2 [NC,L]

#FOR populares
RewriteRule ^populares$ populares.php? [NC,L]

</IfModule>

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

# ([0-9a-zA-Z_-]+)


ErrorDocument 404 /404.html